@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Outfit', sans-serif;
  background-color:  #3F3946;
  overflow-x: hidden;
}

.active {
    border-bottom: 1px solid #e6c8d3;
    font-weight: 600;
  }
.not-home{
  margin-top: 67px;
}